
{% extends "base.html" %}
{% block content %}



<center>

<br>
<img src="{{ url_for('static', filename='3d_pie_chart.jpg') }}" width="45%" height="45%" />



<form>
	<div id="form">
Email: <input type="  email " name="username">
</form>

<br>
<form>
Password: <input type="password" name="pwd">
</form>

</div>

<!--<p><button type="button">Submit</button></p>-->
<br>
<a href="{{ url_for('DemoGraphics_2') }}">Submit</a>
<p><a href="password.html"> Forget Password</a></p>

<a href="username.html">Username?</a>




</center>




{% endblock%}



