{% extends "base.html" %}
{% block content %}

<html>

<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Demo.css')}}">

<title> Welcome </title>
</head>


<body>
<center>

<!--<div class="survey">
    
<a href="{{ url_for('survey') }}">Survey</a>
</div>-->
<a href="{{ url_for('survey') }}"><div class='survey line-block'>
<h1 class='survey'><div> Survey <h1></div> 


</div></a>


<a href="{{ url_for('DemoGraphics_3') }}"><div class='membership line-block'>
<h1 class='membership'><div>Membership</div></h1>
</div></a>



<div class='statistics'>
	
<h1 class='statistics'><div> Statistics </div></h1>

</div>
</center>

</body>






</html>

{% endblock %}