<html>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Demo.css') }}">

<h1> Demo-Graphics<h1>



<body>
<center>


<img src="{{ url_for('static', filename='3d_pie_chart.jpg') }}" width="50%" height="50%" />


<form>
Username: <input type="username" name="pwd">
</form>


<form>
Password: <input type="password" name="pwd">
</form>
<p><button type="button">Submit</button></p>

<p><a href="password.html"> Forget Password</a></p>

<a href="username.html">Username?</a>




</center>
</body>






</html>
